<html>
  <head>
    <title>The Gossip Project</title>
  </head>
  <body>
    <h1>Bienvenue mon frère</h1>
    <h2>Tu veux faire quoi?</h2>
    <p>Pour créer un gossip clique <a href="/new/">ici</a></p> 
    <p>Pour afficher tous les gossips <a href="/print_all/">ici</a></p> 
    <p>Pour supprimer un gossip <a href="/gossips/delete/">ici</a></p>
  </body>
</html>
